{% extends 'layouts/tienda.html' %}{% load static %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-center py-4">SERVICIO TÉCNICO</h3>
        <div class="row py-auto">
            <div class="col-10 mx-auto animate__animated animate__backInRight animate__delay-0.3s">
                <p class="text-justify font-weight-bold">TE OFRECEMOS</p>
                <p class="text-justify">
                    Mantenimiento y reparación de equipos de panadería como amasadoras, laminadoras, batidoras industriales, comerciales,profesionales, etc.
                </p>
                <p class="text-justify">Mantenimiento y reparación de equipos de gastronomía como exprimidores de naranja, procesadores industriales, jugueras,licuadoras industriales, comerciales y domésticas wafleras y creperas comerciales, microondas comerciales y domésticos, peladoras de papas cutter, freidoras de papas, molinos de carne, molinos de granos industriales y comerciales. </p>
                <p class="text-justify">
                    Mantenimiento y reparación de equipos de cafetería como cafetera capuchinera industriales, cafeteras comerciales de 100, 55 y 36 tazas.
                </p>

                <p class="text-justify">Mantenimiento y reparación de máquinas de helados.
                </p>

                <p class="text-justify">
                    Mantenimiento y reparación de equipos de peluquería como secadoras de cabello, máquinas de cabello, patilleras, planchas alisadoras, secadoras de pedestal, aceleradores de calor, esterilizadores, bases hidráulicas, etc.
                </p>
                <p class="text-justify">Mantenimiento y reparación de equipos de sastrería como planchas industriales y comerciales.
                </p>
                <p class="text-justify">Mantenimiento y reparación de equipos de cosmetología como Vacum Terapia, equipos de dermoabrasión, vaporizadores, gimnasia pasiva, peeling ultrasónico, ultrasonido, alta frecuencia, etc.
                </p>
            </div>
            <div class="col-10 text-right">
                <a href="/" class="btn btn-dark my-4 mx-auto">Atras</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}