{% extends 'layouts/tienda.html' %}{% load static %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-center py-4">PANDEMIA</h3>
        <div class="row py-auto">
            <div class="col-10 mx-auto animate__animated animate__backInRight animate__delay-0.3s">
                <p class="text-justify font-weight-bold">¡Quédate en casa! </p>
                <p class="text-justify">
                    Con la finalidad de precautelar vuestra salud y bienestar, desde el lunes 25 de abril del 2021 en un horario de 7:00 a 12:30 pm ofrecemos nuestros Servicios de Mantenimientos preventivos y correctivos a domicilio tomando en cuenta todas las medidas de seguridad determinadas por el COE.
                </p>
            </div>
            <div class="col-10 text-right">
                <a href="/" class="btn btn-dark my-4 mx-auto">Atras</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}